*.pth filter=lfs diff=lfs merge=lfs -text
/supplementary_code/az_dataset/a_z_handwritten_data.csv filter=lfs diff=lfs merge=lfs -text
/supplementary_code/az_dataset/az_dataset.hdf5 filter=lfs diff=lfs merge=lfs -text
