absl-py @ file:///C:/ci/absl-py_1600290345082/work
altgraph==0.16.1
astor==0.8.1
async-generator==1.10
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
backcall==0.2.0
bleach==3.2.1
cachetools==4.1.1
certifi==2020.6.20
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
conda-pack @ file:///home/conda/feedstock_root/build_artifacts/conda-pack_1598981661433/work
cycler==0.10.0
Cython @ file:///C:/ci/cython_1594834055134/work
dask @ file:///tmp/build/80754af9/dask-core_1602083700509/work
decorator==4.4.2
defusedxml==0.6.0
-e git+https://github.com/DGMaxime/detectron2-windows@63adf1dd190bfd8b023728e11c38ee324eda8fa3#egg=detectron2
editdistance @ file:///D:/bld/editdistance_1597301725888/work
entrypoints==0.3
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
flake8-polyfill==1.0.2
flake8-quotes @ file:///home/conda/feedstock_root/build_artifacts/flake8-quotes_1589330264223/work
future @ file:///D:/bld/future_1602538577781/work
fvcore==0.1.2.post20200926
gast @ file:///tmp/build/80754af9/gast_1597433534803/work
google-auth==1.4.2
google-colab==1.0.0
google-pasta==0.2.0
grpcio @ file:///C:/ci/grpcio_1597406403308/work
h5py==2.8.0
idna==2.8
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
imutils @ file:///D:/bld/imutils_1594126159282/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
ipykernel @ file:///C:/ci/ipykernel_1596208728219/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1598883894321/work
ipython-genutils==0.2.0
jedi @ file:///C:/ci/jedi_1596472767194/work
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
Keras==2.3.1
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
labelImg==1.8.3
lxml==4.5.2
macholib @ file:///home/conda/feedstock_root/build_artifacts/macholib_1595268426755/work
Markdown @ file:///C:/ci/markdown_1603216569530/work
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1597858387645/work
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mnist==0.2.2
mock==4.0.2
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
notebook==5.2.2
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233945180/work
olefile==0.46
opencv-python==4.0.0.21
opt-einsum==3.3.0
packaging==20.4
pandas @ file:///C:/ci/pandas_1602088205210/work
pandocfilters==1.4.2
parso==0.7.0
pefile==2019.4.18
pep8-naming @ file:///C:/ci/pep8-naming_1600439397402/work
pickleshare @ file:///C:/ci/pickleshare_1594374056827/work
Pillow @ file:///C:/ci/pillow_1594298234712/work
pluggy==0.13.1
portalocker==2.0.0
portpicker==1.2.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.13.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
py2exe==0.10.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycodestyle==2.6.0
pydot==1.4.1
pyflakes==2.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pyinstaller @ file:///D:/bld/pyinstaller_1603208856196/work
pyinstaller-hooks-contrib @ file:///home/conda/feedstock_root/build_artifacts/pyinstaller-hooks-contrib_1601643128947/work
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyrsistent==0.17.3
pytesseract @ file:///home/conda/feedstock_root/build_artifacts/pytesseract_1599858751053/work
pytest==0.0.0
python-dateutil==2.8.1
pytz==2020.1
PyWavelets @ file:///C:/ci/pywavelets_1601658407053/work
pywin32==228
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1602283314110/work
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.21.0
rsa==4.6
scikit-image==0.14.0
scikit-learn @ file:///C:/ci/scikit-learn_1598376983131/work
scipy @ file:///C:/ci/scipy_1597686737426/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
simplegeneric==0.8.1
six==1.15.0
tabulate==0.8.7
tensorboard==1.15.0
tensorflow==1.15.4
tensorflow-estimator==1.15.1
termcolor==1.1.0
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.49.0
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
urllib3==1.24.3
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
yacs==0.1.8
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
